@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional styles */
@import url("/public/css/additional-styles/utility-patterns.css");
@import url("/public/css/additional-styles/range-slider.css");
@import url("/public/css/additional-styles/toggle-switch.css");
@import url("/public/css/additional-styles/flatpickr.css");
@import url("/public/css/additional-styles/theme.css");

* {
  @apply caret-indigo-500;
}
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
.input-Range-Primary {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    outline: none;
}

/* WebKit browsers */
.input-Range-Primary::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
}

.input-Range-Primary::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: var(
        --thumb-color,
        #6366f1
    ); /* Use CSS variable with fallback color */
    width: var(--thumb-size, 12px); /* Use CSS variable with fallback size */
    height: var(--thumb-size, 12px);
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(-25%);
}
